<h1>What Is Up!</h1>

<%= link_to "All Categories", root_path, remote: true, class: "category_link" %>
<% Category.all.each do |category| %>
    <%= link_to category.name, stickers_path(category: category.name), remote: true, class: "category_link" %>
<% end %>
<br>

<%= link_to "Add Sticker", new_sticker_path %>

<div class="stickers">
    <%= render 'stickers' %>
</div>

<script>
    $('.category_link').on('click', function(){
       $(this).addClass('highlight'); 
    });
</script>

